/*Variables de couleurs*/
:root{
    --color1:#EB43A3;
    --color2:#f1948a;
    --color3:#FFFFFF;
    --color4:#000000;
    --color5:#f7dc6f;
    --color6:#3498db;
}
/*Font family telecharge*/
@font-face {
    font-family:billion ;
    src: url(../Font/BillionDreams_PERSONAL.ttf);
}
@font-face {
    font-family:birds ;
    src: url(../Font/Birds\ of\ Paradise\ +\ PERSONAL\ USE\ ONLY.ttf);
}
/*====Style de l'en tete de page===*/
/*fond du header*/
nav{
    display: flex;
    justify-content: space-between;
    background-color:var(--color1);
}

/*positiion des listes*/
.logo{
    padding: 0 20px;
    font-size: 50px;
    font-size: 50px;
    align-self: center;
    font-family: 'birds', 'cursive' ;
}
.logo a{
    color:var(--color3);
    text-decoration: none;
    animation-name: loko;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes loko {
    0% {
        color:var(--color3);
    }
    25%{
        color:var(--color5);
    }
    50%{
        color:var(--color1);
    }
    75%{
        color:var(--color2);
    }
    100%{
        color:var(--color3);
    }
 }
/*couleur des liens*/
.desactive:hover:not(.active){
    background-color:var(--color2);
}
.active{
    background-color: var(--color2);
}
/*Titre*/
#titre{
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes fade {
    0% {
        opacity: 0%;
        transform: translateX(-100px);
    }
    50%{
        opacity: 100%;
        transform: scale(1.2);
    }
    100%{
        opacity: 0%;
        transform: translateX(-100px);
    }
 }
/*Propriete des barre de navigation du page*/
.barre{
    display: flex;
    font-weight: 700;
    font-variant: small-caps; 
    font-family: 'Merriweather', 'cursive'; 
}
.active, .desactive{
    font-size: 25px;
    margin: 0px 2px;
    text-align: center;
    padding: 30px 15px;
    color:var(--color3);
    text-decoration: none;
}
/*Zone de texte centrale*/
section{
    padding: 25px 0px 50px 0px;
    background-image: url("../img/background.png");
}
/*Style des titres */
h1 ,h2, h3{
    font-weight: 900;
    color:var(--color1);
    padding: 10px 10px 20px 0px;
    font-family: 'Courgette', 'cursive' ;
}
/*fond avec style du premier titre*/
h1{
    width: 500px;
    margin: auto;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    padding: 60px 20px;
    background-image: url("../img/rainbow.png");
}
/*===Fonds de la base===*/
.descript{
    width:70%;
    margin: auto;
    border-radius: 20px;
    padding: 15px 25px 20px 50px;
    background-color: var(--color3);
    border: 4px solid var(--color5);
    box-shadow: 0px 0px 50px 2px var(--color1);
}
h2, h3{
    font-size: 30px;
}
h2{
    animation-name: GauDro;
    animation-duration: 5s;
}
@keyframes GauDro {
    0% {
        opacity: 0%;
        transform: translateX(-50px);
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
 }
p{
    font-size: 25px;
    text-align: justify;
}
/*Style de l'image */
/*Style de l'image quand la souri passe dessus*/
.contenair{
    text-align: center;
    display: inline-flex;
}
/*box contenant l'image et son texte*/
figure{
    width: 25%;
    margin: 5px;
    height: auto;
    display: block;
    overflow: hidden;
    position: relative;
}
/*Propriete de l'image par rapport au box qui la contienne*/
img{
    width: 100%;
    cursor:pointer;
    display: block;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
/*Propriete du texte au dessous de l'image*/
figcaption{
    right: 0px;
    bottom: 0px;
    width: 100%;
    opacity: 0.8;
    font-size: 25px;
    padding: 10px 0px;
    text-align: center;
    position: absolute;
    color: var(--color3);
    background-color:var(--color6);
}
img:hover {
    transform: scale(1.2); /*Zoomer les images*/
}
.rehetra{
    width: 100%;
    display: inline-flex;
}
/*Formulaire*/
.information{
    width: 35%;
    display: inline-block;
    padding: 0px 0px 0px 10px;
    margin: 0 0 0 70px;
}
.information h2{
    padding: 20px 0 0 0;
}
.iframe{
    width: 65%;
}
iframe{
    width: 100%;
}
/*Style du boutton valider*/
form > input{
    padding: 5px 0;
    font-size: 20px;
    border-radius: 5px;
}
.button{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    color: var(--color3);
    margin: 5px 0px 0px 0px;
    background-color: var(--color1);
}
/*===Style de footer===*/
footer{
    text-align:right;
    color: var(--color3);
    padding: 10px 25px 10px 0px;
    background-color: var(--color1);
}